#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    kscan {
        compatible = "zmk,kscan-gpio-direct";
        status = "okay";
        key_a { gpios = <&gpio1 1 GPIO_ACTIVE_LOW>; };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = < &kp A >;
        };
    };
};