/* 按键映射：P0.17=A, P0.2=B, P0.3=C, P0.31=D */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A  /* P0.17 (显示屏IO) */
                &kp B  /* P0.2 */
                &kp C  /* P0.3 */
                &kp D  /* P0.31 (空引脚) */
            >;
            sensor-bindings = <>;
        };
    };
};